# Deny public access to the pack folder
<Directory /pack>
    Order deny,allow
    Deny from all
</Directory>

# perform rewrite operations to FCP
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule ^(.*)\?*$ index.php?_urlroute_=$1 [L,QSA]
</IfModule>